@CHARSET "UTF-8";
@font-face{font-family:Noto Sans;src:url('fonts/NotoSans-Regular.ttf')}
@font-face{font-family:Noto Sans Bold;src:url('fonts/NotoSans-Bold.ttf')}
body {
  font-family:Noto Sans,sans-serif;
  background:#f9f9f9;
}
header{height:68px;}
header a img{margin-left:50px;}
a {
    color: #37a000;
    text-decoration: none;
}
a:focus, a:hover {
    color: #008329;
    text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5, p, h1 a, h2 a, h3 a{
    color: #494949;
    font-family:Noto Sans,sans-serif;
}

.cl{clear:both;}
.ads{margin-top:10px;margin-bottom:10px;width:auto;height:auto}
.ads10{margin-top:10px;with:auto;height:auto}
#cse-search-box input[type=text] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.075) inset;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0;
    width: 92%;
    float: left;
    margin-right: 10px;
}
#cse-search-box input[type=submit] {
    -moz-user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: #37a000;
    color: #fff;
}

#cse-search-box input[type=submit]:hover {
    background-color: #008329;
}
.breadcrumb{background-color:#f9f9f9;padding:8px 0px;margin-right:14px;}
a.name_box{font-weight:800}

.main-post{margin-left: -15px;}
.des{color:#999;font-weight:bold; padding: 10px 0px; font-style: italic;}
.thumbnail{margin-bottom:0px;border:none; background:#f9f9f9;}
.main{margin-bottom:7px;}
.main h2, .main h1{padding:0;margin:0;font-size:20px;}
.main h1 p, .main h2 p{padding:0;padding-top:5px;padding-left:10px; maring:0;color:#fff}
.group-category h2{margin-top:10px;}
.group-category h1 p{font-weight:800;color:#494949}
.stat {
    color: #b13e16;
    font-weight: 700;
}
.row-info div{margin-bottom:10px;width:100%}
.row-info div span{padding-left:17px}
.version {
    border-radius: 4px;
    width: 49px;
    text-align: center;
    display: inline-block;
    color: #2e2e2e;
    box-shadow: 0 0 6px #000 inset;
    position: relative;
    margin-right: 7px;
    font-size: 10px;
}
.newest {
    background-color: red;
    font-weight: 700;
    box-shadow: 0 0 6px #24446b inset;
     color: #FFF;
}

.popular {
    background-color: #4785d1;
    box-shadow: 0 0 6px #24446b inset;
     color: #FFF;
}
.latest {
    background-color: #47d185;
    color: #FFF;
    box-shadow: 0 0 6px #246b44 inset;
}

.group-category{
	padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.group-category a{
	text-transform:uppercase;
}

.sidebar ul{
    list-style: none;
    margin:0px;
    padding:0px;
}
.sidebar li {
    margin: 0 0 10px;
}

.sidebar li ul {
    margin: 0;
    padding: 0;
}
.sidebar ul li li {
    position: relative;
    font-size: 13px;
}

.sidebar .list-group a {
    font-size: 1.2em;
    padding-left: 15px;
}

.sidebar .list-group label{
	margin-bottom: 10px!important;
    color: #494949;
    font-weight: 500;
    font-size: 18px;
    text-align: left!important;
    text-transform:uppercase;
}
.navbar{
	background:#494949;
	color: #fff;
	min-height: 40px;
    border-radius: 0;
    margin-bottom:5px;
    border:none;
    border-bottom: 1px solid #e0e0e0;
}

.navbar-toggle{background:#59ae44;border:1px solid #FFF;}
.navbar-toggle .icon-bar{background:#FFF}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color:#e7e7e7;
	
}
.navbar-collapse{padding-left:0px !important;}
.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    line-height: 12px;
    font-weight: 500;
    color: #e0e0e0;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left:0px;
}

.navbar-default .navbar-nav>li>a:hover{
	color:#FFFFFF;
}

.controls div {
    margin-bottom: 15px;
}
.article{
	margin-bottom:10px;
	padding:3px 0px;
}
.article h2{margin-bottom:10px;}
.article h2 a{color:#37a000}
article{margin-bottom:20px;}
article .social{
	border-bottom: 1px dotted #bbb;
    position: relative;
    height: 28px;
    float: left;
    width: 100%;
}

article .authors {
    border-bottom: 1px dotted #bbb;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 8px;
    position: relative;
    float: left;
    width: 100%;
}

article ul.details-list {
    float: left;
    width: 100%;
    list-style: none;
    margin:0;
    padding:0;
}

article ul.details-list li {
    float: left;
    font-size: 12px;
    padding: 0;
    width: 170px;
}
article .alert-info{margin-top:10px;}
article h1{
    color: #494949;
    font-size: 25px !important;
}
ul.details-list .glyphicon a,
ul.details-list .glyphicon span{margin-left:5px;font-family: sans-serif;}
.primary-content{float:left;margin-top:10px;}

.aligncenter, .wp-post-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-bottom:10px;
}
footer{
	height:500px;
	background:#494949;
	}
footer p{color:#7d7d7d;}
footer h2,
footer center
{color:#7d7d7d; margin-top:60px;}
footer h2{text-align:center}
footer img{display: block; margin: auto;margin-top:20px;}
footer ul{list-style:none;margin-top: 60px;}
footer ul li{text-align:right;margin-top:10px}
footer ul a{color:#7d7d7d}

#respond input[type=submit] {
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: #37a000;
    color: #fff;
}
.pagination {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    width: 400px;
    height:40px;
}
.skin-height{float:left;height:0px;}
@media (min-width: 768px) {
 
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (max-width: 767px) {

}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {

}

@media (max-device-width: 480px) and (orientation: landscape) {

}

